In [5]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('PlayerTry1_db')

cursor1=connection.cursor()
cursor2=connection.cursor()

query1="select * from "
query2="select * from employees"

for row1 in cursor1.execute(query1):
    for row2 in cursor2.excute(query2):
        print(row1,row2)

OperationalError: no such table: users